$primary_text: #FFFFFF;
$hero_blue_text: linear-gradient(0deg, #FFD100, #FFD100),
linear-gradient(0deg, #2B3087 0%, #00B4EC 81.99%);

$green_1: #22A75D;

$blue_1: #171B29;
$blue_2: #2278D4;
$blue_3: #0F1320;
$blue_4: #191B21;



$yellow_1:#FFD100;

$red_1:#E20613;


