@use './variables' as colors;

.video_demo {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 60px 80px;
    
    
    border-radius: 16px;

    @media (max-width: 998px) {
        margin: 0 16px 60px;
        padding: 24px;
    }
}

.video_demo__title {
    font-size: 32px;

    @media (max-width: 998px) {
        font-size: 24px;
    }
}

.video_demo__player {
    width: 100%;
    min-height: 280px;
    background: colors.$blue_3;
    border-radius: 8px;
}



